/* screen - discover-experiments-screen-9 */

.discover-experiments-screen-9 {
  align-items: flex-end;
  background-color: var(--mirage);
  display: flex;
  flex-direction: column;
  height: 1267px;
  position: relative;
  width: 1920px;
}

.discover-experiments-screen-9 .discover {
  left: 248px;
  letter-spacing: 0;
  line-height: 175px;
  position: fixed;
  top: -30px;
  white-space: nowrap;
  z-index: 4;
}

.discover-experiments-screen-9 .rectangle-84 {
  background: linear-gradient(255.82deg, #453dc6 21.29%, #231f63 146.73%);
  border: 1px solid;
  border-color: var(--eerie-black);
  box-shadow: 0px 3px 6px #00000029;
  height: 116px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
  z-index: 3;
}

.discover-experiments-screen-9 .rectangle-29 {
  background-color: var(--cosmic-cobalt);
  height: 33px;
  left: 373px;
  position: fixed;
  top: 18px;
  width: 71px;
  z-index: 9;
}

.discover-experiments-screen-9 .rectangle-95 {
  background-color: var(--governor-bay);
  height: 33px;
  left: 760px;
  position: fixed;
  top: 18px;
  width: 71px;
  z-index: 10;
}

.discover-experiments-screen-9 .group-18 {
  display: flex;
  height: 77px;
  left: 88px;
  position: fixed;
  top: 18px;
  width: 42px;
  z-index: 11;
}

.discover-experiments-screen-9 .group-17 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0.0px 0;
  width: 42.15px;
}

.discover-experiments-screen-9 .group-container {
  height: 77px;
  position: relative;
  width: 42px;
}

.discover-experiments-screen-9 .group-4 {
  background-image: url(../img/group-3-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 8px;
  position: absolute;
  top: 45px;
  width: 29px;
}

.discover-experiments-screen-9 .group-6 {
  background-image: url(../img/group-5-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 7px;
  position: absolute;
  top: 27px;
  width: 29px;
}

.discover-experiments-screen-9 .group-8 {
  background-image: url(../img/group-7-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 29px;
}

.discover-experiments-screen-9 .group-10 {
  background-image: url(../img/group-9-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 16px;
}

.discover-experiments-screen-9 .group-12 {
  background-image: url(../img/group-11-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 16px;
}

.discover-experiments-screen-9 .group-14 {
  background-image: url(../img/group-13-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 26px;
  position: absolute;
  top: 42px;
  width: 16px;
}

.discover-experiments-screen-9 .group-16 {
  background-image: url(../img/group-15-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 16px;
}

.discover-experiments-screen-9 .undraw_male_avatar_323b-2 {
  background-image: url(../img/path-373-1-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 76px;
  left: 1775px;
  position: fixed;
  top: 20px;
  width: 76px;
  z-index: 12;
}

.discover-experiments-screen-9 .overlap-group1 {
  height: 64px;
  left: 7px;
  position: absolute;
  top: 11px;
  width: 65px;
}

.discover-experiments-screen-9 .path-374 {
  height: 51px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 16px;
}

.discover-experiments-screen-9 .path-375 {
  height: 18px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 7px;
}

.discover-experiments-screen-9 .ellipse-142 {
  background-color: var(--black);
  border-radius: 3.36px;
  height: 7px;
  left: 2px;
  opacity: 0.2;
  position: absolute;
  top: 36px;
  width: 7px;
}

.discover-experiments-screen-9 .path-376 {
  height: 15px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 5px;
}

.discover-experiments-screen-9 .path-377 {
  height: 6px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 14px;
}

.discover-experiments-screen-9 .path-378 {
  height: 4px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 10px;
}

.discover-experiments-screen-9 .ellipse-143 {
  background-color: var(--mischka);
  border-radius: 14.73px;
  height: 29px;
  left: 16px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.discover-experiments-screen-9 .path-379 {
  height: 19px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 21px;
}

.discover-experiments-screen-9 .path-380 {
  height: 30px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 59px;
}

.discover-experiments-screen-9 .path-381 {
  height: 27px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.discover-experiments-screen-9 .path-382 {
  height: 9px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 12px;
}

.discover-experiments-screen-9 .path-383 {
  height: 11px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 6px;
}

.discover-experiments-screen-9 .ellipse-141 {
  background-color: var(--black);
  border-radius: 3.36px;
  height: 7px;
  left: 8px;
  opacity: 0.2;
  position: absolute;
  top: 18px;
  width: 7px;
}

.discover-experiments-screen-9 .component-1-35 {
  cursor: pointer;
  display: flex;
  height: 30px;
  left: 530px;
  position: fixed;
  top: 45px;
  transition: all 0.2s ease;
  width: 249px;
  z-index: 5;
}

.discover-experiments-screen-9 .component-1-35:hover {
  background-color: ##C78B8B
}

.discover-experiments-screen-9 .your-experiments {
  flex: 1;
  letter-spacing: 0;
  line-height: 175px;
  margin-bottom: 70.5px;
  margin-right: -2px;
  margin-top: -72.5px;
  white-space: nowrap;
  width: 249px;
}

.discover-experiments-screen-9 .component-2-38 {
  cursor: pointer;
  display: flex;
  height: 30px;
  left: 930px;
  position: fixed;
  top: 45px;
  width: 184px;
  z-index: 6;
}

.discover-experiments-screen-9 .leaderboard {
  flex: 1;
  letter-spacing: 0;
  line-height: 175px;
  margin-bottom: 70.5px;
  margin-right: -2px;
  margin-top: -72.5px;
  white-space: nowrap;
  width: 184px;
}

.discover-experiments-screen-9 .polygon-5 {
  height: 15px;
  left: 381px;
  object-fit: cover;
  position: fixed;
  top: 48px;
  width: 26px;
  z-index: 7;
}

.discover-experiments-screen-9 .polygon-8 {
  height: 15px;
  left: 783px;
  object-fit: cover;
  position: fixed;
  top: 48px;
  width: 26px;
  z-index: 8;
}

.discover-experiments-screen-9 .user123 {
  left: 1575px;
  letter-spacing: 0;
  line-height: 93px;
  position: fixed;
  top: 104px;
  white-space: nowrap;
  z-index: 16;
}

.discover-experiments-screen-9 .overlap-group7 {
  align-self: center;
  height: 715px;
  margin-left: 51.55px;
  margin-top: 105px;
  position: relative;
  width: 1796px;
  z-index: 1;
}

.discover-experiments-screen-9 .overlap-group8 {
  height: 705px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1796px;
}

.discover-experiments-screen-9 .overlap-group5 {
  height: 288px;
  left: 21px;
  position: absolute;
  top: 265px;
  width: 461px;
}

.discover-experiments-screen-9 .rectangle-140 {
  background-color: var(--tangaroa);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 12px;
  height: 288px;
  left: 0;
  position: absolute;
  top: 0;
  width: 460px;
}

.discover-experiments-screen-9 .rectangle-145 {
  background-color: #d5d5d5;
  border-radius: 12px 12px 0px 0px;
  height: 170px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 460px;
}

.discover-experiments-screen-9 .user-settings {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 68px;
  white-space: nowrap;
}

.discover-experiments-screen-9 .account {
  left: 64px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 114px;
  white-space: nowrap;
}

.discover-experiments-screen-9 .profile {
  left: 393px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  text-align: center;
  top: 114px;
  white-space: nowrap;
}

.discover-experiments-screen-9 .overlap-group4 {
  height: 668px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1795px;
}

.discover-experiments-screen-9 .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 200px;
  width: 1701px;
}

.discover-experiments-screen-9 .rectangle-80 {
  background-color: var(--bittersweet-shimmer);
  border: 1px solid;
  border-radius: 8px;
  height: 11px;
  left: 392px;
  position: absolute;
  top: 195px;
  width: 98px;
}

.discover-experiments-screen-9 .rectangle-140-1 {
  background-color: var(--tangaroa);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 12px;
  height: 668px;
  left: 1335px;
  position: absolute;
  top: 0;
  width: 460px;
}

.discover-experiments-screen-9 .line-16 {
  height: 1px;
  left: 1335px;
  object-fit: cover;
  position: absolute;
  top: 130px;
  width: 460px;
}

.discover-experiments-screen-9 .line-17 {
  height: 1px;
  left: 1335px;
  object-fit: cover;
  position: absolute;
  top: 348px;
  width: 460px;
}

.discover-experiments-screen-9 .line-18 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 611px;
  width: 1115px;
}

.discover-experiments-screen-9 .profile-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 567px;
  white-space: nowrap;
}

.discover-experiments-screen-9 .username {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 645px;
  white-space: nowrap;
}

.discover-experiments-screen-9 .overlap-group2 {
  height: 52px;
  left: 947px;
  position: absolute;
  top: 653px;
  width: 154px;
}

.discover-experiments-screen-9 .rectangle-14 {
  border: 1px solid;
  border-color: var(--romance-2);
  border-radius: 28px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 154px;
}

.discover-experiments-screen-9 .place {
  left: 29px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.discover-experiments-screen-9 .user-123 {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 679px;
  white-space: nowrap;
}

.discover-experiments-screen-9 .points-63 {
  left: 1592px;
  letter-spacing: 0;
  line-height: 40px;
  position: fixed;
  top: 178px;
  white-space: nowrap;
  z-index: 17;
}

.discover-experiments-screen-9 .user-settings-1 {
  cursor: pointer;
  left: 1457px;
  letter-spacing: 0;
  line-height: 40px;
  position: fixed;
  top: 265px;
  white-space: nowrap;
  z-index: 18;
}

.discover-experiments-screen-9 .account-settings {
  left: 1457px;
  letter-spacing: 0;
  line-height: 60px;
  position: fixed;
  top: 310px;
  white-space: nowrap;
  z-index: 19;
}

.discover-experiments-screen-9 .profile-2 {
  left: 1457px;
  letter-spacing: 0;
  line-height: 60px;
  position: fixed;
  top: 371px;
  white-space: nowrap;
  z-index: 22;
}

.discover-experiments-screen-9 .undraw_male_avatar_323b-2-1 {
  background-image: url(../img/path-373-49@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 120px;
  left: 280px;
  position: fixed;
  top: 395px;
  width: 120px;
  z-index: 2;
}

.discover-experiments-screen-9 .overlap-group {
  height: 102px;
  left: 12px;
  position: absolute;
  top: 18px;
  width: 103px;
}

.discover-experiments-screen-9 .path-374-1 {
  height: 80px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 25px;
}

.discover-experiments-screen-9 .path-375-1 {
  height: 29px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 67px;
  width: 11px;
}

.discover-experiments-screen-9 .ellipse-142-1 {
  background-color: var(--black);
  border-radius: 5.32px;
  height: 11px;
  left: 3px;
  opacity: 0.2;
  position: absolute;
  top: 56px;
  width: 11px;
}

.discover-experiments-screen-9 .path-376-1 {
  height: 23px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 7px;
}

.discover-experiments-screen-9 .path-377-1 {
  height: 9px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 22px;
}

.discover-experiments-screen-9 .path-378-1 {
  height: 6px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 15px;
}

.discover-experiments-screen-9 .ellipse-143-1 {
  background-color: var(--mischka);
  border-radius: 23.3px;
  height: 47px;
  left: 25px;
  position: absolute;
  top: 8px;
  width: 47px;
}

.discover-experiments-screen-9 .path-379-1 {
  height: 31px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 33px;
}

.discover-experiments-screen-9 .path-380-1 {
  height: 48px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 93px;
}

.discover-experiments-screen-9 .path-381-1 {
  height: 43px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 50px;
}

.discover-experiments-screen-9 .path-382-1 {
  height: 15px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 18px;
}

.discover-experiments-screen-9 .path-383-1 {
  height: 17px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 10px;
}

.discover-experiments-screen-9 .ellipse-141-1 {
  background-color: var(--black);
  border-radius: 5.32px;
  height: 11px;
  left: 13px;
  opacity: 0.2;
  position: absolute;
  top: 28px;
  width: 11px;
}

.discover-experiments-screen-9 .user-progress {
  cursor: pointer;
  left: 1457px;
  letter-spacing: 0;
  line-height: 40px;
  position: fixed;
  top: 471px;
  white-space: nowrap;
  z-index: 21;
}

.discover-experiments-screen-9 .experiments {
  cursor: pointer;
  left: 1457px;
  letter-spacing: 0;
  line-height: 60px;
  position: fixed;
  top: 516px;
  white-space: nowrap;
  z-index: 20;
}

.discover-experiments-screen-9 .user123-1 {
  left: 261px;
  letter-spacing: 0;
  line-height: 93px;
  position: fixed;
  top: 530px;
  white-space: nowrap;
  z-index: 13;
}

.discover-experiments-screen-9 .topics {
  cursor: pointer;
  left: 1457px;
  letter-spacing: 0;
  line-height: 60px;
  position: fixed;
  top: 571px;
  white-space: nowrap;
  z-index: 25;
}

.discover-experiments-screen-9 .points-63-1 {
  left: 278px;
  letter-spacing: 0;
  line-height: 40px;
  position: fixed;
  top: 600px;
  white-space: nowrap;
  z-index: 14;
}

.discover-experiments-screen-9 .points {
  cursor: pointer;
  left: 1457px;
  letter-spacing: 0;
  line-height: 60px;
  position: fixed;
  top: 626px;
  white-space: nowrap;
  z-index: 24;
}

.discover-experiments-screen-9 .leaderboard-1 {
  cursor: pointer;
  left: 1459px;
  letter-spacing: 0;
  line-height: 60px;
  position: fixed;
  top: 681px;
  white-space: nowrap;
  z-index: 23;
}

.discover-experiments-screen-9 .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 154px;
  margin-left: 88px;
  margin-top: 42px;
  min-width: 1101px;
  z-index: 15;
}

.discover-experiments-screen-9 .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 146px;
  width: 156px;
}

.discover-experiments-screen-9 .profile-picture {
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -8px;
  min-height: 32px;
  white-space: nowrap;
}

.discover-experiments-screen-9 .overlap-group6 {
  height: 60px;
  margin-top: 54px;
  position: relative;
  width: 70px;
}

.discover-experiments-screen-9 .points-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.discover-experiments-screen-9 .number {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.discover-experiments-screen-9 .overlap-group3 {
  height: 52px;
  margin-left: 791px;
  position: relative;
  width: 154px;
}
