/* screen - discover-experiments-screen-6 */

.discover-experiments-screen-6 {
  align-items: flex-start;
  background-color: var(--mirage);
  display: flex;
  flex-direction: column;
  height: 1114px;
  position: relative;
  width: 1920px;
}

.discover-experiments-screen-6 .discover {
  left: 248px;
  letter-spacing: 0;
  line-height: 175px;
  position: fixed;
  top: -30px;
  white-space: nowrap;
  z-index: 2;
}

.discover-experiments-screen-6 .rectangle-84 {
  background: linear-gradient(255.82deg, #453dc6 21.29%, #231f63 146.73%);
  border: 1px solid;
  border-color: var(--eerie-black);
  box-shadow: 0px 3px 6px #00000029;
  height: 116px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
  z-index: 1;
}

.discover-experiments-screen-6 .rectangle-29 {
  background-color: var(--cosmic-cobalt);
  height: 33px;
  left: 373px;
  position: fixed;
  top: 18px;
  width: 71px;
  z-index: 7;
}

.discover-experiments-screen-6 .rectangle-95 {
  background-color: var(--governor-bay);
  height: 33px;
  left: 760px;
  position: fixed;
  top: 18px;
  width: 71px;
  z-index: 8;
}

.discover-experiments-screen-6 .group-18 {
  display: flex;
  height: 77px;
  left: 88px;
  position: fixed;
  top: 18px;
  width: 42px;
  z-index: 9;
}

.discover-experiments-screen-6 .group-17 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0.0px 0;
  width: 42.15px;
}

.discover-experiments-screen-6 .group-container {
  height: 77px;
  position: relative;
  width: 42px;
}

.discover-experiments-screen-6 .group-4 {
  background-image: url(../img/group-3-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 8px;
  position: absolute;
  top: 45px;
  width: 29px;
}

.discover-experiments-screen-6 .group-6 {
  background-image: url(../img/group-5-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 7px;
  position: absolute;
  top: 27px;
  width: 29px;
}

.discover-experiments-screen-6 .group-8 {
  background-image: url(../img/group-7-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 29px;
}

.discover-experiments-screen-6 .group-10 {
  background-image: url(../img/group-9-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 16px;
}

.discover-experiments-screen-6 .group-12 {
  background-image: url(../img/group-11-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 16px;
}

.discover-experiments-screen-6 .group-14 {
  background-image: url(../img/group-13-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 26px;
  position: absolute;
  top: 42px;
  width: 16px;
}

.discover-experiments-screen-6 .group-16 {
  background-image: url(../img/group-15-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 16px;
}

.discover-experiments-screen-6 .undraw_male_avatar_323b-2 {
  background-image: url(../img/path-373-1-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 76px;
  left: 1775px;
  position: fixed;
  top: 20px;
  width: 76px;
  z-index: 10;
}

.discover-experiments-screen-6 .overlap-group1 {
  height: 64px;
  left: 7px;
  position: absolute;
  top: 11px;
  width: 65px;
}

.discover-experiments-screen-6 .path-374 {
  height: 51px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 16px;
}

.discover-experiments-screen-6 .path-375 {
  height: 18px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 7px;
}

.discover-experiments-screen-6 .ellipse-142 {
  background-color: var(--black);
  border-radius: 3.36px;
  height: 7px;
  left: 2px;
  opacity: 0.2;
  position: absolute;
  top: 36px;
  width: 7px;
}

.discover-experiments-screen-6 .path-376 {
  height: 15px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 5px;
}

.discover-experiments-screen-6 .path-377 {
  height: 6px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 14px;
}

.discover-experiments-screen-6 .path-378 {
  height: 4px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 10px;
}

.discover-experiments-screen-6 .ellipse-143 {
  background-color: var(--mischka);
  border-radius: 14.73px;
  height: 29px;
  left: 16px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.discover-experiments-screen-6 .path-379 {
  height: 19px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 21px;
}

.discover-experiments-screen-6 .path-380 {
  height: 30px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 59px;
}

.discover-experiments-screen-6 .path-381 {
  height: 27px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.discover-experiments-screen-6 .path-382 {
  height: 9px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 12px;
}

.discover-experiments-screen-6 .path-383 {
  height: 11px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 6px;
}

.discover-experiments-screen-6 .ellipse-141 {
  background-color: var(--black);
  border-radius: 3.36px;
  height: 7px;
  left: 8px;
  opacity: 0.2;
  position: absolute;
  top: 18px;
  width: 7px;
}

.discover-experiments-screen-6 .component-1-16 {
  cursor: pointer;
  display: flex;
  height: 30px;
  left: 530px;
  position: fixed;
  top: 45px;
  transition: all 0.2s ease;
  width: 249px;
  z-index: 3;
}

.discover-experiments-screen-6 .component-1-16:hover {
  background-color: ##C78B8B
}

.discover-experiments-screen-6 .your-experiments {
  flex: 1;
  letter-spacing: 0;
  line-height: 175px;
  margin-bottom: 70.5px;
  margin-right: -2px;
  margin-top: -72.5px;
  white-space: nowrap;
  width: 249px;
}

.discover-experiments-screen-6 .component-2-19 {
  cursor: pointer;
  display: flex;
  height: 30px;
  left: 930px;
  position: fixed;
  top: 45px;
  width: 184px;
  z-index: 4;
}

.discover-experiments-screen-6 .leaderboard {
  flex: 1;
  letter-spacing: 0;
  line-height: 175px;
  margin-bottom: 70.5px;
  margin-right: -2px;
  margin-top: -72.5px;
  white-space: nowrap;
  width: 184px;
}

.discover-experiments-screen-6 .polygon-5 {
  height: 15px;
  left: 381px;
  object-fit: cover;
  position: fixed;
  top: 48px;
  width: 26px;
  z-index: 5;
}

.discover-experiments-screen-6 .polygon-8 {
  height: 15px;
  left: 783px;
  object-fit: cover;
  position: fixed;
  top: 48px;
  width: 26px;
  z-index: 6;
}

.discover-experiments-screen-6 .user-progress {
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -1px;
  margin-left: 88px;
  margin-top: 174px;
  min-height: 39px;
  white-space: nowrap;
  z-index: 11;
}

.discover-experiments-screen-6 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 44px;
  margin-left: 120px;
  margin-top: 6px;
  min-width: 716px;
  z-index: 12;
}

.discover-experiments-screen-6 .experiments {
  letter-spacing: 0;
  line-height: 100px;
  min-height: 44px;
  min-width: 202px;
  text-align: center;
  white-space: nowrap;
}

.discover-experiments-screen-6 .topics {
  letter-spacing: 0;
  line-height: 100px;
  margin-left: 139px;
  min-height: 44px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.discover-experiments-screen-6 .points {
  letter-spacing: 0;
  line-height: 100px;
  margin-left: 179px;
  min-height: 44px;
  min-width: 96px;
  text-align: center;
  white-space: nowrap;
}

.discover-experiments-screen-6 .overlap-group3 {
  align-self: center;
  height: 11px;
  margin-right: 42.0px;
  margin-top: 37px;
  position: relative;
  width: 1701px;
  z-index: 13;
}

.discover-experiments-screen-6 .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 1701px;
}

.discover-experiments-screen-6 .rectangle-80 {
  background-color: var(--bittersweet-shimmer);
  border: 1px solid;
  border-radius: 8px;
  height: 11px;
  left: 652px;
  position: absolute;
  top: 0;
  width: 94px;
}

.discover-experiments-screen-6 .undraw_growth_analytics_re_pyxf {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 42.5px;
  margin-top: 94px;
  min-width: 1702px;
  padding: 0 0.0px;
  z-index: 14;
}

.discover-experiments-screen-6 .overlap-group2 {
  height: 322px;
  margin-top: 0;
  position: relative;
  width: 1702px;
}

.discover-experiments-screen-6 .path-696 {
  height: 207px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 1663px;
}

.discover-experiments-screen-6 .path-697 {
  height: 322px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1702px;
}

.discover-experiments-screen-6 .rectangle-147 {
  background-color: var(--gun-powder);
  height: 51px;
  left: 125px;
  position: absolute;
  top: 270px;
  width: 4px;
}

.discover-experiments-screen-6 .rectangle-148 {
  background-color: var(--gun-powder);
  height: 176px;
  left: 630px;
  position: absolute;
  top: 145px;
  width: 4px;
}

.discover-experiments-screen-6 .rectangle-149 {
  background-color: var(--gun-powder);
  height: 139px;
  left: 942px;
  position: absolute;
  top: 181px;
  width: 4px;
}

.discover-experiments-screen-6 .rectangle-150 {
  background-color: var(--gun-powder);
  height: 206px;
  left: 1255px;
  position: absolute;
  top: 114px;
  width: 4px;
}

.discover-experiments-screen-6 .rectangle-151 {
  background-color: var(--gun-powder);
  height: 159px;
  left: 1646px;
  position: absolute;
  top: 161px;
  width: 4px;
}

.discover-experiments-screen-6 .ellipse-245 {
  background-color: var(--blue-marguerite);
  border-radius: 12.5px;
  height: 25px;
  left: 619px;
  position: absolute;
  top: 120px;
  width: 25px;
}

.discover-experiments-screen-6 .ellipse-246 {
  background-color: var(--blue-marguerite);
  border-radius: 12.5px;
  height: 25px;
  left: 1244px;
  position: absolute;
  top: 106px;
  width: 25px;
}

.discover-experiments-screen-6 .ellipse-247 {
  background-color: var(--blue-marguerite);
  border-radius: 12.5px;
  height: 25px;
  left: 932px;
  position: absolute;
  top: 165px;
  width: 25px;
}

.discover-experiments-screen-6 .ellipse-248 {
  background-color: var(--blue-marguerite);
  border-radius: 12.5px;
  height: 25px;
  left: 114px;
  position: absolute;
  top: 251px;
  width: 25px;
}

.discover-experiments-screen-6 .ellipse-249 {
  background-color: var(--blue-marguerite);
  border-radius: 12.5px;
  height: 25px;
  left: 1636px;
  position: absolute;
  top: 157px;
  width: 25px;
}
