/* screen - sign-in-page-password-asking */

.sign-in-page-password-asking {
  align-items: flex-start;
  background: linear-gradient(240.34deg, #392aaa -15.72%, #a986bf 117.79%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  height: 1076px;
  padding: 101px 141px;
  width: 1920px;
}

.sign-in-page-password-asking .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 11px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  margin-left: 916px;
  margin-top: 1px;
  min-height: 873px;
  padding: 62.5px 52px;
  width: 722px;
}

.sign-in-page-password-asking .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  min-height: 248px;
  width: 580px;
}

.sign-in-page-password-asking .flex-row {
  align-items: center;
  display: flex;
  height: 196px;
  min-width: 398px;
}

.sign-in-page-password-asking .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 196px;
  width: 146px;
}

.sign-in-page-password-asking .log-in {
  letter-spacing: 0;
  line-height: 50px;
  min-height: 63px;
  white-space: nowrap;
}

.sign-in-page-password-asking .new-user {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 12px;
  min-height: 39px;
  min-width: 146px;
  text-align: center;
  white-space: nowrap;
}

.sign-in-page-password-asking .password {
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 50px;
  min-height: 32px;
  white-space: nowrap;
}

.sign-in-page-password-asking .create-an-account {
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 7.0px;
  margin-left: 7px;
  min-height: 39px;
  min-width: 245px;
  white-space: nowrap;
}

.sign-in-page-password-asking .line-9 {
  height: 4px;
  margin-left: 0.5px;
  margin-top: 48px;
  object-fit: cover;
  width: 579px;
}

.sign-in-page-password-asking .flex-row-1 {
  align-items: center;
  display: flex;
  margin-left: 1px;
  margin-top: 48px;
  min-width: 580px;
}

.sign-in-page-password-asking .overlap-group1 {
  align-items: flex-end;
  background-color: #5080db;
  border-radius: 21px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  min-width: 66px;
  padding: 1px 4px;
}

.sign-in-page-password-asking .ellipse-209 {
  background-color: var(--white);
  border-radius: 14px;
  height: 28px;
  width: 28px;
}

.sign-in-page-password-asking .stay-signed-in {
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 10px;
  margin-top: 4.0px;
  min-height: 32px;
  min-width: 160px;
  white-space: nowrap;
}

.sign-in-page-password-asking .overlap-group2 {
  align-items: flex-end;
  background-color: var(--denim);
  border-radius: 18px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  margin-left: 169px;
  min-width: 175px;
  padding: 6.5px 35px;
}

.sign-in-page-password-asking .continue {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 25px;
  min-height: 32px;
  min-width: 102px;
  text-align: center;
  white-space: nowrap;
}

.sign-in-page-password-asking .line-12 {
  height: 4px;
  margin-left: 0.5px;
  margin-top: 156px;
  object-fit: cover;
  width: 579px;
}

.sign-in-page-password-asking .reset-your-password {
  color: var(--royal-blue);
  font-family: var(--font-family-proximanova-medium);
  font-size: var(--font-size-xxxs);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 1px;
  margin-top: 60px;
  min-height: 32px;
  white-space: nowrap;
}

.sign-in-page-password-asking .sign-in-to-a-different-account {
  color: var(--royal-blue);
  font-family: var(--font-family-proximanova-medium);
  font-size: var(--font-size-xxxs);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 51px;
  min-height: 32px;
  white-space: nowrap;
}
.placeholderpassword{
  padding-top: 30px;
}
.heighttext{
  line-height: 30px;
  font-size: larger;
}
.showpassword{
  width:20px;
  height:20px;
}